#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman kimai-app.service
BindsTo=kimai.service
After=kimai.service mariadb-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/kimai-app.pid %t/kimai-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/kimai-app.pid \
    --cidfile %t/kimai-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/kimai.pod-id --replace -d --name  kimai-app \
    --env-file=%S/state/environment \
    --env DATABASE_URL=mysql://kimai:kimai@127.0.0.1/kimai?charset=utf8mb4&serverVersion=8.3.0 \
    --env ADMINPASS Nethesis,1234 \
    --env ADMINMAIL admin@example.com \
    ${KIMAI2_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/kimai-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP kimai-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/kimai-app.ctr-id
PIDFile=%t/kimai-app.pid
Type=forking

[Install]
WantedBy=default.target
